@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Roberto Garcia<br />
    Corporate IT Director <br />
    <abbr title="Phone">P:</abbr>
    +1 956.620.4562
</address>

<address>
    <strong>Support:</strong> <a href="mailto:roberto.garcia@transmaquila.com">roberto.garcia@transmaquila.com</a><br />
</address>
